body, html {
  padding: 0px;
  margin: 0px;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-image: url("/backgrounds/parallaxes/DesertNight.png");
}

#root {
  text-align: center;
}

main {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p, h1, h2, h3, h4, h5, h6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 0.75rem;
  margin: 2px 0;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  margin: 16px 0;
}

h2 {
  font-size: 1.75rem;
  margin: 12px 0;
  font-weight: 500;
}

h3 {
  font-size: 1.25rem;
  margin: 6px 0;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  margin: 4px 0;
  font-weight: 600;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}